.header h1 {
    color: coral;
    float: center;
    font-size: xx-large
}

.intro p {
    float: center;
    font-size: large;
}

.main img {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
    position: relative;
}

.main p {
    background-color: #FFEEBC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}