.image {
position:relative;
}
.image img{
    width:300px; height:300px;
    float:left;
}
.text {
    position:absolute;
    top: 260px;
    left: 110px;
    z-index: 1;
    width: 120px;
    color:#fff;
    font-weight: bold;
    background-color: black;
    margin-left : auto;
    margin-right : auto;
    text-align: center;
}
