.header h1 {
    color: coral;
    background-color: #fff;
    text-align: center;
    font-size: xx-large
}
.header p{
    text-align: center;
    font-size: large;
}

.main img{
    position: relative;
}
.main p{
    position:absolute;
    text-align: center;
}